{% extends 'vitrine/base.html' %}
{% load static %}
{% block content %}
            <section class="conteudo">
                <section class="banner">
                    <img class="banner__imagem" src="{% static '/assets/imagens/vitrine.png' %}" alt="banner Brechó Aki">
                    <h1 class="banner__titulo"> A vitrine mais completa com brechós da sua região!</h1>
                </section>
                <section class="tags">
                    <p class="tags__titulo">Busque por tags:</p>
                    <ul class="tags__lista">
                        <li class="tags__tag">Masculino</li>
                        <li class="tags__tag">Feminino</li>
                        <li class="tags__tag">Infantil</li>
                        <li class="tags__tag">Unisex</li>
                    </ul>
                </section>
                <section class="vitrine">
                    
                    <div class="cards">
                        <h2 class="cards__titulo">Navegue pela vitrine</h2>
                        <ul class="cards__lista">
                        {% if cards %}
                            {% for item in cards %}
                            <li class="card">
                                <a href="{% url 'imagem' item.id %}">
                                    {% if item.foto == "" or item == null %}
                                    <img class="card__imagem" src="{% static '/assets/imagens/vitrine/'%}{{ item.id }}/{{ item.foto }} " alt="foto">\
                                    {% else %}
                                    <img class="card__imagem" src="{{ item.foto.url }}" alt="foto">\
                                    {% endif %}
                                </a>
                                <span class="card__tag">{{ item.categoria }}</span>
                                <div class="card__info">
                                    <p class="card__titulo">{{ item.nome }}</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">{{ item.descricao }}</p>
                                        <span>
                                            <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                                        </span>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        {% else %}
                            <div class="imagem__texto">
                                <p> Produtos não encontrados :( </p>
                            </div>
                        {% endif %}
                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </div>

{% endblock %}