{% extends 'vitrine/base.html' %}
{% load static %}
{% block content %}
            <section class="conteudo">
                <section class="imagem">
                    <div class="imagem__conteudo">
                        {% if item.foto == "" or item == null %}
                        <img class="imagem__imagem" src="{% static '/assets/imagens/vitrine/' %}{{ item.id }}/{{item.foto}}">
                        {% else %}
                        <img class="imagem__imagem" src="{{ item.foto.url }}">
                        {% endif %}
                        <div class="imagem__info">
                            <div class="imagem__texto">
                                <p class="imagem__titulo">{{ item.nome }}</p>
                                <p class="imagem__descricao"> R$ {{ item.preco }} - {{ item.loja }} </p>
                                <p class="imagem__texto"> {{ item.descricao }} </p>
                                <button class="btn btn-light mt-2">Adicionar ao carrinho</button>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}