{% load static %}
<div class="pagina-inicial">
<header class="cabecalho">
    <img src="{% static '/assets/logo/Logo.png' %}" alt="Logo do Brechó Aki" />
    {% for message in messages %}
        <div class="alert alert-primary">
            <p id="messages">{{ message }}</p>
        </div>
    {% endfor %}
    <div class="cabecalho__busca">
        <form action="{% url 'busca' %}">
                <div class="busca__fundo">
                    <input name = "busca" class="busca__input" type="text" placeholder="O que você procura?">
                    <button type="submit" class="busca__botao"><img class="busca__icone" src="{% static '/assets/ícones/1x/search.png' %}" alt="ícone de search"></button>
                </div>  
            </form>
    </div>
</header>
<main class="principal">
    <section class="menu-lateral">
        <nav class="menu-lateral__navegacao">
            <a href="{% url 'home' %}"><i class="fa fa-home" style="font-size:30px;color:black;margin-right: 20px;"></i> Home</a>
            <a href="{% url 'login' %}"><i class="fa fa-user" style="font-size:30px;color:black;margin-right: 20px;"></i> Conta </a>
            <a href="{% url 'verCarrinho' %}"><i class="fa fa-shopping-cart" style="font-size:30px;color:black;margin-right: 20px;"></i> Carrinho </a>
            <a href="{% url 'logout'%}"><i class="fa fa-long-arrow-right" style="font-size:30px;color:black;margin-right: 20px;"></i> Logout </a>
        </nav>
    </section>